

global:
  
  scrape_interval: 15s
 
  evaluation_interval: 15s
 
  scrape_timeout: 10s


alerting:
  alertmanagers:
    - static_configs:
        - targets: []


scrape_configs:

 
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
    metrics_path: '/metrics'


  - job_name: 'pushgateway'
    honor_labels: true
    static_configs:
      - targets: ['pushgateway:9091']

 
  - job_name: 'k6'
    static_configs:
      - targets: ['host.docker.internal:6565']
    metrics_path: '/metrics'
    scrape_interval: 5s